/* contains all things */

body {
	font-family: "open sans", sans-serif;
}

button {
	cursor: pointer;
}

.wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
}

input::placeholder {
	color: #D1D2D3;
}

/* Head of Page */

main {
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
	background-color: #E5F3F2;
	padding: 2rem 1.5rem;
	width: 100%;
}

/* title */

h1 {
	font-family: "roboto slab", serif;
	font-size: 3.5em;
	color: #6D6E71;
	margin-bottom: 0.5em;
}

span {
	color: #00a79d;
}

/* submit form */

.idea-form {
	margin: 0 auto;
	font-size: 1.5em;
	max-width: 600px;
}

/* submit inputs */

.idea-form input {
	transition: all 0.25s linear;
	outline: 0;
	border: 0.06em solid #D1D2D3;
	border-radius: 3px;
	padding: 2px 0.3em;
	margin: 0.3rem 0;
	width: 100%;
}

/* submit button */

.save-btn {
	border: 0;
	border-radius: 3px;
	outline: 0;
	color: #fff;
	background-color: #00A79D;
	margin: 0.3rem 0;
	padding: 10px;
	width: 100%;
}

.save-btn:hover {
	background-color: #045e55;
}

.completed-todos-btn {
	border: 0;
	border-radius: 3px;
	outline: 0;
	color: #fff;
	background-color: yellowgreen;
	margin: 0.3rem 0;
	padding: 10px;
	width: 100%;
	max-width: 600px;
}

.completed-todos-btn:hover {
	background-color: forestgreen;
}

/* ideas section */

section {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	padding: 2rem 1.5rem;
	width: 100%;
}

/* search form */

.search-form {
	width: 100%;
}

/* search input field */

.search {
	font-size: 1.5em;
	outline: 0;
	border: .06em solid #D1D2D3;
	border-radius: 3px;
	padding: 0 10px;
	margin-bottom: 1em;
	max-width: 600px;
	width: 100%;
}

/* idea card */

li {
	display: flex;
	flex-direction: column;
	text-align: left;
	border-bottom: 2px solid #D1D2D3;
	margin-bottom: 1em;
	max-width: 600px;
	width: 90vw;
}

li header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 2em;
}

li p {
	overflow: scroll;
	color: #939598;
	font-size: 1.2em;
	line-height: 1.3em;
	margin: .8em 0;
	max-height: 4em;
}

li footer {
	display: flex;
	align-items: center;
	padding: 1em 0;
}

h2 {
	font-family: "Roboto Slab", serif;
	font-size: 1.4em;
	color: #6D6E71;
	overflow: hidden;
	max-height: 2em;
	max-width: 20em;
}

h3 {
	color: #6D6E71;
	font-family: "Roboto Slab", serif;
	font-size: 1em;
	margin: 0;
	padding: 0;
}

/* delete button */

.delete-btn {
	background: url(images/delete.svg) no-repeat;
	outline: 0;
	width: 1.5em;
	height: 1.5em;
}

.delete-btn:hover {
	background: url(images/delete-hover.svg) no-repeat;
}

/* upvote button */

.upvote-btn {
	background: url(images/upvote.svg) no-repeat;
	outline: 0;
	width: 1.5em;
	height: 1.5em;
}

.upvote-btn:hover {
	background: url(images/upvote-hover.svg) no-repeat;
}

/* downvote button */

.downvote-btn {
	background: url(images/downvote.svg) no-repeat;
	outline: 0;
	margin: 0 .8em;
	width: 1.5em;
	height: 1.5em;
}

.downvote-btn:hover {
	background: url(images/downvote-hover.svg) no-repeat;
	background-color: skyblue;
}

/* Completed Task Button */

.completed-task-btn {
	background: url(images/circle.svg) no-repeat;
	background-color: lightgray;
	border: 1px solid #939598;
	border-radius: 50%;
	outline: 0;
	margin-right: 0.8em;
	width: 1.3em;
	height: 1.3em;
}

.completed-task-btn:hover {
	background: url(images/bluecheck.svg) no-repeat;
}

.completed {
	background-color:  #D1D2D3;
	text-decoration: line-through;
}

/* Show More Button */

.show-more-btn {
	background-color: #00a79d;
	border: 1px solid #939598;
	border-radius: 2px;
	color: #fff;
	outline: 0;
	margin: 2em 0;
	height: 2.5em;
	max-width: 600px;
	width: 100%;
}

.show-more-btn:hover {
	background-color: #045e55;
}

.filter-btns {
	width: 100%;
	display: flex;
	max-width: 600px;
	justify-content: space-between;


}
.filter-btns input {
	margin-bottom: 1em;
}





/* screen at 400px or less */

@media only screen and (max-width: 400px) {
	.idea-form .body-input {
		padding-bottom: 3em;
	}
}